.icons{
  padding-left: 0;
  list-style: none;
  color: white;
  display: flex;
}

.icons li {
  padding: 8px 12px;
  text-decoration: none;
}

.icons i {
  display: block;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
}

.iconnone{
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .icons{
    padding-left: 0;
    margin-right: 40px;
  }
}
