/*
justifyContent
flexDirection이 column인지 row인지에 따라 가로 세로 기준이 바뀐다.

flexDirection을 기준으로 수평한 형태로 정렬한다.

예를 들어, flexDirection: column 이라면, 가로로 나열하는 것이니

justifyContent 역시 가로로 정렬하는 옵션이 된다.

flex-start - alignItems와 동일하게 동작함

가로 정렬 기준, 좌측(시작점)

center - alignItems와 동일하게 동작함

가로 정렬 기준 가운데

flex-end - alignItems와 동일하게 동작함

가로 정렬 기준 우측

space-between

양 끝을 기점으로 요소간의 거리를 균등하게 정렬

 space-around

모든 요소를 균등하게 정렬한 뒤 각각을 가운데 정렬함
https://zladnrms.tistory.com/73
*/





body{
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
}

a {
  text-decoration: none;
  color: white;
}

.App-Counter {
  background: white;
  color: aqua;
  font-size: 36px;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
}
