.it_1{
  margin-top: 128px;
  width: 80%;
  height: 120vh;
  margin-left: 10%;
  margin-right: 10%;
}

.it_2{
  display: flex;
  margin-right: 20px;
  float: right;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.it_3{
  display: flex;
  background-color : #7dc2d8;
  text-align: center;
  font-size: 20px;
  color : #ffffff;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.it_4{
  display: flex;
  text-align: right;
  background-color : #7dc2d8;
  color : #ffffff;
  justify-content: space-around;
  align-items: center;
}

.it_1 i{
  color: #ffffff;
  font-size: 50px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .it_1{
    margin-top: 200px;
    width: 80%;
  }
}
