.bottom{
  background-color : #1d9abc;
  text-align: center;
  height: 10vh;
  font-size: 20px;
  color : #ffffff;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.bottom i{
  color: #ffffff;
}
