.bottom{
  width: 100%;
  background-color : #1d9abc;
  text-align: center;
  height: 10vh;
  font-size: 2vh;
  color : #ffffff;
  justify-content: space-around;
  display: flex;
  align-items: center;

}

.bottomfont li{
  font-size: 10px;
}
.bottom i{
  color: #ffffff;

  font-style: normal;
}

.bottomLink{
  text-decoration: none;
}
