.rect_2{
  margin: 70px -20px 30px 30px;
  text-align: center;
  width: 100%;
}

.fontpx{
  font-size: 30px;
}

.fontpx2{
  font-size: 20px;
  padding: 20px 20px;
  text-align: left;
  margin-right: 50px;
}
