.rect_2{
  margin: 70px 10% 30px 30px;
  text-align: center;
  width: 100%;
}

.fontpx{
  font-size: 30px;

}

.rect_2 i{
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px;
}

.fontpx2{
  font-size: 20px;
  padding: 20px 20px;
  text-align: center;
  margin-right: 50px;
}

.style_1{
  background-color : #1d9abc;
  text-align: center;
  height: 10vh;
  font-size: 20px;
  color : #ffffff;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .rect_2{
    margin: 70px 10% 30px 0px;
    text-align: center;
    width: 100%;
  }
}
