
.img{
    position: relative;
    background-image: url(./blue.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-left: 10%;
}

.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index:1;
}

.img .content{
     position: absolute;
     top:60%;
     left:50%;
     transform: translate(-50%, -50%);
     font-size:230%;
     color: white;
     z-index: 2;
     text-align: center;
}


@media screen and (max-width: 768px) {
  .img{
    margin-top: 100px;
    margin-left: 0%;
    margin-right: 10%;
  }
}
