.App-HeaderNavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffff74;
  padding: 8px 12px;
}

body{
  margin: 0;
  font-family: 'Source Sans Pro';
}

a {
  text-decoration: none;
  color: white;
}

.App-HeaderBackground {
  background: #ffff74;
}

.App-HeaderTitle{
  display: flex;
  justify-content: space-between;
  background: #ffec44;
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  align-items: center;
}

.App-HeaderMenu {
  display: flex;
  list-style: none;
  background: #ffec44;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
}

.App {
  background: black;
  color: aqua;
  font-size: 36px;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
}

.App-Counter {
  background: white;
  color: aqua;
  font-size: 36px;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
