body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #cce8f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  color: blue;
}

p {
  color: green;
}
